div {
  background-color: #D33E43;
  color: white;
  position: relative;
  padding: 10px;
  height: 60px;
  margin-top: 20px;
  text-align: center;

  a {
    font-weight: bold;
    text-decoration: none;
    color: white;

    &:hover {
      text-decoration: underline;
    }
  }
}
