div {
  background-color: #D33E43;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

  ul {
    display: inline-block;

    li {
      display: inline;
      margin: 10px;
    }
  }

  input {
    display: block;
  }
}
