.profile-container {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;

  .profile-pane {
    flex: 1;
    margin-top: 20px;
    background-color: darkgrey;

    .profile-box {
      width: 90%;
      margin: 0 auto;

      .profile-photo {
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 200px;
        height: 200px;
        background-color: violet;
        border-radius: 200px;
      }


      .profile-info {
        border-top: 1px solid black;

        ul {
          display: inline-block;

          li {
            display: block;
            margin: 10px;

            span {
              color: #D33E43;
              font-weight: bold;
            }
          }
        }

        .about {
          margin: 10px;
        }
      }
    }
  }

  .story-pane {
    flex: 2;
    margin: 20px;

    h1 {
      margin-left: 20px;
    }

    .collapsible {
        background-color: #D33E43;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
      }

      .active,
      .collapsible:hover {
        background-color: #D33E43;
      }

      .content {
        padding: 0 18px;
        overflow: hidden;
        background-color: #f1f1f1;
        -moz-transition: max-height .5s;
        -ms-transition: max-height .5s;
        -o-transition: max-height .5s;
        -webkit-transition: max-height .5s;
        transition: max-height .5s;
      }
  }

}
