.stories-section {
  display: flex;
  column-gap: 10px;

  .section-header {
    margin-bottom: 30px;

    h1 {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      margin: 10px;
    }

    h3 {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      margin: 10px;
      font-weight: 200;
      color: grey;
    }
  }

  .all-stories-section {
    flex: 1;
    width: 60%;
  }

  .top-news-section {
    background-color: lightgray;
    width: 40%;
  }

}
